<ul>
	<li>{{link-to 'react' 'org.repo.issues' 'react'}}</li>
	<li>{{link-to 'react-native' 'org.repo.issues' 'react-native'}}</li>
	<li>{{link-to 'babel' 'org.repo.issues' 'babel'}}</li>
</ul>

{{outlet}}
