<h2>My favourite Orgs</h2>

<ul>
	<li>{{link-to 'JQuery' 'org.repos' 'jquery'}}</li>
	<li>{{link-to 'React' 'org.repos' 'reactjs'}}</li>
	<li>{{link-to 'Meteor' 'org.repos' 'meteorjs'}}</li>
</ul>

{{outlet}}
